
/*------------------------------------------------
------------------- Style sheet------------------- */
*{
   
    font-family: 'Open Sans', sans-serif;
}

 .header{
    width: 100%;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 100px;
 }
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 50px;
   
}
nav li a{
    color:  #424242;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}


.banner{
    text-align: center;
}

.banner-heading{
    
    font-weight: 600;
    font-size: 50px;
}
.banner-paragraph{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
}
.banner-btn{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 10px;
    background: #fd6e0a;
    margin-bottom: 60px;
}

.banner-img{
    
    text-align: center;
}



.team-banner{
    display: flex;
    align-items: center;
}

.team-banner-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 300px;
}

.team-banner-details{
    margin-right: 50px;
    margin-left: 80px;
   
}

.team-banner-heading{
    font-weight: 600;
    font-size: 45px;
}
.span-1{
    color: #727272;
}
.span-2{
    color: #FF900E;
}

.team-banner-paragraph{
    color: #727272;
    margin-bottom: 50px;
}
.team-banner-btn{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 10px;
    background: #fd6e0a;
    margin-bottom: 60px;
}

















@media screen and (max-width: 576px) {
    
    nav{
        flex-direction: column;
        align-items: flex-end;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
        align-items: flex-end;
        padding-left: 20px;
    }
    .images{
        width: 100%;
    }
    
    .team-banner{
       flex-direction: column;
    }
    .team-banner-img{
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        
    }

}