
/*------------------------------------------------
------------------- Style sheet------------------- */
*{
   
    font-family: 'Open Sans', sans-serif;
}

 .header{
    width: 100%;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 100px;
 }
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 50px;
   
}
nav li a{
    color:  #424242;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}


.banner{
    text-align: center;
}

.banner-heading{
    
    font-weight: 600;
    font-size: 50px;
}
.banner-paragraph{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
}
.banner-btn{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 10px;
    background: #fd6e0a;
    margin-bottom: 60px;
}

.banner-img{
    
    text-align: center;
}



.team-banner{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.team-banner-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 300px;
}

.team-banner-details{
    margin-right: 50px;
    margin-left: 80px;
   
}

.team-banner-heading{
    font-weight: 600;
    font-size: 45px;
}
.span-1{
    color: #727272;
}
.span-2{
    color: #FF900E;
}

.team-banner-paragraph{
    color: #727272;
    margin-bottom: 50px;
}
.team-banner-btn{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 10px;
    background: #fd6e0a;
    margin-bottom: 60px;
}





.architect-banner{
    display: flex;
}
.architect-banner-all-details{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   justify-items: center;
   
}
.architect-heading{
    text-align: center;
    
}
.architect-heading h1{
    font-weight: 700;
    font-size: 45px;
}
.architect-heading p{
    margin-left: 100px;
    padding-left: 150px;
    padding-right: 100px;
    text-align: left;
    
}
.architect-banner-details{
    
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 30px;
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.architect-banner-btn{
   margin-left: 50px;
  position: relative;
  height: 150px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fd6e0a;
  color: white;
  font-size: 16px;
  padding: 18px 35px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
   
}


.icon-heading{
    margin-left: 100px;
    padding-left: 100px;
}
.icon-heading h1{
    font-weight: 800;
    font-size: 45px;
}
.icon-heading p{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #727272;
}
.icon{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.icon-section{
    
    padding-top: 35px;
    text-align: center;
    box-sizing: border-box;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;

}



.sponsored-banner-details{
    text-align: center;
}
.sponsored-banner-details p{
    margin-bottom: 60px;
    color: #727272;
}

.sponsored-banner-img{
    
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
     }
     
.sponsored-banner{
    display: flex;
    justify-content: space-evenly;
}
















@media screen and (max-width: 576px) {
    
    nav{
        flex-direction: column;
        align-items: flex-end;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
        align-items: flex-end;
        padding-left: 20px;
    }
    .images{
        width: 100%;
    }
    
    .team-banner{
       flex-direction: column;
    }
    .team-banner-img{
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        
    }
    .architect-banner{
        flex-direction: column;
    }
    .architect-heading p{
        margin: 0 0 0 10px;
        padding: 0;
        
    }
    .architect-banner-img{
        width: 100%;
        margin-bottom: 50px;
    }

    .architect-banner-details{
        margin: 20px;
        width: 80%;
    }
    .architect-banner-btn{
        margin-left: 10px;
        text-align: center;
        flex-direction: column;
        color: white;
        font-weight: 700;
        font-size: 20px;
        border: 0;
        padding: 18px 35px;
        height: 64px;
        border-radius: 10px;
        background: #fd6e0a;
        margin-bottom: 60px;
    }


    .icon-heading{
        margin: 0;
        padding: 0;
    }
    .icon{
        flex-direction: column;
        align-items: center;
    }


    .sponsored-banner{
        flex-direction: column;
        align-items: center;
    }
    .sponsored-banner-img{
        margin-bottom: 20px;
    }

    }
  
